@using QuanLyKho.ViewModels.NhaCungCapViewModel
@using QuanLyKho.ViewModels.NhanVienViewModels
@model NhaCungCapIndexViewModel
@{
    ViewData["Title"] = "Index";
}

<div>
    <div class="row">
        <h2 class="mb-3">Danh sách nhà cung cấp</h2>

        <div class="d-flex justify-content-between align-items-center mb-3">
            <form asp-action="Index" class="me-4" style="width: 60%;">
                <div class="input-group">
                    <input name="searchString" class="form-control" placeholder="Tên nhà cung cấp" value="@ViewData["searchString"]" />
                    <button type="submit" class="btn btn-primary"><i class="bi bi-search"></i> Tìm kiếm</button>
                    <a asp-action="Index" class="btn btn-secondary">Reset</a>
                </div>
            </form>
            @if (User.IsInRole("Quản lý") || User.IsInRole("Nhân viên nhập"))
            {
            <a asp-action="Create" class="btn btn-outline-primary">
                <i class="bi bi-plus"></i> Thêm nhà cung cấp
            </a>
            }
        </div>

        <table class="table table-hover table-striped table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Tên nhà cung cấp</th>
                    <th>Địa chỉ</th>
                    <th>Số điện thoại</th>
                    <th>Email</th>
                    <th class="text-center">Actions</th>
                </tr>
            </thead>
            <tbody class="align-middle">
                @foreach (var item in Model.NhaCungCaps)
                {
                    <tr>
                        <td>@item.MaNhaCungCap</td>
                        <td>@item.TenNhaCungCap</td>
                        <td>@item.DiaChi</td>
                        <td>@item.SoDienThoai</td>
                        <td>@item.Email</td>
                        <td class="text-center">
                            <div class="btn-group" role="group" aria-label="Actions">
                                @if (User.IsInRole("Quản lý") || User.IsInRole("Nhân viên nhập"))
                                {
                                    <a type="button" class="btn btn-outline-primary" asp-action="Edit" asp-route-id="@item.MaNhaCungCap">Edit</a>
                                    <a type="button" class="btn btn-outline-primary" asp-action="Details" asp-route-id="@item.MaNhaCungCap">Details</a>
                                    <a type="button" class="btn btn-outline-danger" onclick="return confirm('Bạn có chắc chắn muốn xóa nhà cung cấp này không?');" asp-action="Delete" asp-route-id="@item.MaNhaCungCap">Delete</a>
                                }
                                else
                                {
                                    <a type="button" class="btn btn-outline-primary" asp-action="Details" asp-route-id="@item.MaNhaCungCap">Details</a>
                                }
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="d-flex justify-content-center">
            <nav>
                <ul class="pagination">
                    <li class="page-item @(Model.PaginationInfo.CurrentPage == 1 ? "disabled" : "")">
                        <a class="page-link" asp-action="Index" asp-route-searchString="@ViewData["searchString"]" asp-route-pageNumber="@(Model.PaginationInfo.CurrentPage - 1)" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    @for (int i = 1; i <= Model.PaginationInfo.TotalPages; i++)
                    {
                        <li class="page-item @(i == Model.PaginationInfo.CurrentPage ? "active" : "")">
                            <a class="page-link" asp-action="Index" asp-route-searchString="@ViewData["searchString"]" asp-route-pageNumber="@i">@i</a>
                        </li>
                    }
                    <li class="page-item @(Model.PaginationInfo.CurrentPage == Model.PaginationInfo.TotalPages ? "disabled" : "")">
                        <a class="page-link" asp-action="Index" asp-route-searchString="@ViewData["searchString"]"  asp-route-pageNumber="@(Model.PaginationInfo.CurrentPage + 1)" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
