@using QuanLyKho.ViewModels
@model QuanLyKho.ViewModels.ThietBiViewModels.ThietBiViewModel

<div class="container mt-4">
    <div class="row">
        <div class="col-md-12">
            <h2 class="text-center">Thông số kỹ thuật</h2>
            <table class="table table-bordered spec-table">
                <tbody>
                    <tr>
                        <th scope="row" class="vertical-header">Mã thiết bị</th>
                        <td>@Model.MaThietBi</td>
                    </tr>
                    <tr>
                        <th scope="row" class="vertical-header">Tên thiết bị</th>
                        <td>@Model.TenThietBi</td>
                    </tr>
                    <tr>
                        <th scope="row" class="vertical-header">Model</th>
                        <td>@Model.Model</td>
                    </tr>
                    <tr>
                        <th scope="row" class="vertical-header">Danh mục</th>
                        <td>@Model.TenDanhMuc</td>
                    </tr>
                    <tr>
                        <th scope="row" class="vertical-header">Nhà cung cấp</th>
                        <td>@Model.TenNhaCungCap</td>
                    </tr>
                    <tr>
                        <th scope="row" class="vertical-header">Hãng sản xuất</th>
                        <td>@Model.NhaSanXuat</td>
                    </tr>
                    <tr>
                        <th scope="row" class="vertical-header">Thời gian bảo hành</th>
                        <td>@Model.ThoiGianBaoHanh tháng</td>
                    </tr>
                    <tr>
                        <th scope="row" class="vertical-header">Trạng thái</th>
                        <td>@Model.TrangThai</td>
                    </tr>
                    <tr>
                        <th scope="row" class="vertical-header">Số lượng còn lại</th>
                        <td>@Model.SoLuongCon</td>
                    </tr>
                    <tr>
                        <th scope="row" class="vertical-header">Giá bán</th>
                        <td>@Model.GiaBanFormat VNĐ</td>
                    </tr>
                    <tr>
                        <th scope="row" class="vertical-header">Mô tả</th>
                        <td>@Model.MoTa</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="d-flex justify-content-start mt-4">
        <a asp-action="Index" class="btn btn-secondary">Trở về</a>
    </div>
</div>