@using QuanLyKho.Data.Enums
@model QuanLyKho.ViewModels.PhieuNhapViewModels.PhieuNhapDetailsViewModel

<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    <h2 class="mb-0">Chi tiết phiếu nhập</h2>
                </div>
                <div class="card-body">
                    <form asp-action="Details" method="post">
                        <input type="hidden" name="id" value="@Model.MaPhieuNhap" />

                        <table class="table table-borderless">
                            <tbody>
                                <tr>
                                    <th>Mã phiếu nhập:</th>
                                    <td>@Html.DisplayFor(model => model.MaPhieuNhap)</td>
                                </tr>
                                <tr>
                                    <th>Tên nhân viên:</th>
                                    <td>@Html.DisplayFor(model => model.HoVaTen)</td>
                                </tr>
                                <tr>
                                    <th>Ngày nhập:</th>
                                    <td>@Html.DisplayFor(model => model.NgayNhap)</td>
                                </tr>
                                <tr>
                                    <th>Tổng tiền:</th>
                                    <td>@Model.TongTienFormat VNĐ</td>
                                </tr>
                                <tr>
                                    <th>Ghi chú:</th>
                                    <td>@Html.DisplayFor(model => model.GhiChu)</td>
                                <tr>
                                    <th>Trạng thái:</th>
                                    <td>
                                        <select asp-for="SelectedTrangThai" asp-items="@Model.TrangThaiList" class="form-select" id="statusDropdown"
                                                disabled="@(Model.SelectedTrangThai == "Đã nhập kho" || Model.SelectedTrangThai == "Đã hủy")"></select>
                                    </td>
                                </tr>
                                </tr>
                            </tbody>
                        </table>

                        <div class="col-12 mt-4">
                            <h3 class="text-center">Danh sách thiết bị nhập</h3>
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Tên thiết bị</th>
                                        <th>Nhà cung cấp</th>
                                        <th class="text-center">SL</th>
                                        <th class="text-end">Giá nhập</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for (int i = 0; i < Model.ThongTinThietBis.Count; i++)
                                    {
                                        <tr>
                                            <td class="align-middle">
                                                @Html.DisplayFor(model => model.ThongTinThietBis[i].MaThietBi)
                                            </td>
                                            <td class="align-middle">
                                                @Html.DisplayFor(model => model.ThongTinThietBis[i].TenThietBi)
                                            </td>
                                            <td class="align-middle">
                                                @Html.DisplayFor(model => model.ThongTinThietBis[i].TenNhaCungCap)
                                            </td>
                                            <td class="align-middle text-center">
                                                @Html.DisplayFor(model => model.ThongTinThietBis[i].SoLuongNhap)
                                            </td>
                                            <td class="align-middle text-end">
                                                @Html.HiddenFor(model => model.ThongTinThietBis[i].GiaBan)
                                                @(String.Format("{0:n0} VNĐ", Model.ThongTinThietBis[i].GiaBan * 0.9m))
                                            </td>
                                        </tr>
                                    }
                                    <tr>
                                        <td colspan="4" class="text-start fw-bold">Tổng cộng:</td>
                                        <td class="text-end fw-bold">@Model.TongTienFormat VNĐ</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="d-flex justify-content-between mt-4">
                            <a asp-action="Index" class="btn btn-secondary">Trở về</a>
                            @if (Model.SelectedTrangThai != "Đã nhập kho" && Model.SelectedTrangThai != "Đã hủy")
                            {
                                <button type="submit" class="btn btn-primary" id="saveButton"
                                @if (Model.SelectedTrangThai == "Chờ nhập kho")
                                {
                                    <text> disabled </text>
                                }>
                                        Lưu
                                    </button>
                            }
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="toast-container position-fixed end-0 p-3" style="top: 77px">
    @if (TempData["SuccessMessage"] != null)
    {
        <div id="successToast" class="toast align-items-center text-white bg-success border-0" role="alert" aria-live="assertive" aria-atomic="true" data-bs-delay="1000">
            <div class="d-flex">
                <div class="toast-body">
                    @TempData["SuccessMessage"]
                </div>
                <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
        </div>
    }
</div>

<script>
    document.getElementById('statusDropdown').addEventListener('change', function () {
        var selectedStatus = this.value;
        var saveButton = document.getElementById('saveButton');
        if (selectedStatus === 'Chờ nhập kho') {
            saveButton.disabled = true;
        } else {
            saveButton.disabled = false;
        }
    });

    // Ensure the button is correctly set on page load
    document.addEventListener('DOMContentLoaded', function () {
        var selectedStatus = document.getElementById('statusDropdown').value;
        var saveButton = document.getElementById('saveButton');
        if (selectedStatus === 'Chờ nhập kho') {
            saveButton.disabled = true;
        } else {
            saveButton.disabled = false;
        }
    });

    document.addEventListener('DOMContentLoaded', function () {
        var successToast = document.getElementById('successToast');
        if (successToast) {
            var toast = new bootstrap.Toast(successToast);
            toast.show();
        }
    });
</script>
