@using QuanLyKho.ViewModels.PhieuNhapViewModels
@model IEnumerable<PhieuNhapViewModel>
@{
    ViewData["Title"] = "Index";
}

<div>
    <div class="row">
        <h2>Danh sách phiếu nhập</h2>
        <div class="d-flex justify-content-between align-items-center mb-3">
            <form asp-action="Index" class="flex-grow-1 me-3">
                <div class="row">
                    <div class="col-md-4">
                        <input name="searchString" class="form-control" placeholder="Mã phiếu nhập" value="@ViewData["searchString"]" />
                    </div>
                    <div class="col-md-2">
                    <select name="trangThaiFilter" class="form-select" asp-items="@ViewBag.TrangThaiList" id="exampleSelect1">
                    <option value="">Tất cả trạng thái</option>
                    </select>
                    </div>
                    <div class="col-md-2">
                        <button type="submit" class="btn btn-primary">Tìm kiếm</button>
                        <a asp-action="Index" class="btn btn-secondary">Reset</a>
                    </div>
                </div>
            </form>
            <a asp-action="Create" asp-route-maNguoiDung="@User.FindFirst("Id").Value" class="btn btn-success">Tạo phiếu nhập</a>
        </div>
        <div class="col-12">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Mã phiếu nhập
                        </th>
                        <th>
                            Nhân viên nhập
                        </th>
                        <th>
                            Ngày nhập
                        </th>
                        <th>
                            Tổng tiền
                        </th>
                        <th>
                            Trạng thái
                        </th>
                        <th>
                            Ghi chú
                        </th>
                        <th>
                            Actions
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td class="align-middle">
                                @Html.DisplayFor(modelItem => item.MaPhieuNhap)
                            </td>
                            <td class="align-middle">
                                @Html.DisplayFor(modelItem => item.HoVaTen)
                            </td>
                            <td class="align-middle">
                                @Html.DisplayFor(modelItem => item.NgayNhap)
                            </td>
                            <td class="align-middle">
                                @Html.DisplayFor(modelItem => item.TongTienFormat) VNĐ
                            </td>
                            <td class="align-middle">
                                @Html.DisplayFor(modelItem => item.TrangThai)
                            </td>
                            <td class="align-middle">
                                @Html.DisplayFor(modelItem => item.GhiChu)
                            </td>
                            <td class="align-middle">
                                <a type="button" class="btn btn-outline-primary" asp-action="Details" asp-route-id="@item.MaPhieuNhap">Details</a>
                                <a type="button" class="btn btn-outline-danger" onclick="return confirm('Bạn có chắc chắn muốn xóa phiếu nhập này không?');" asp-action="Delete" asp-route-id="@item.MaPhieuNhap">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>